<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url(https://t3.ftcdn.net/jpg/02/99/83/66/360_F_299836672_LcyxCDANK4C58SFuxnnPygNMJqoQIpbT.jpg); background-size: cover; background-attachment: fixed; background-repeat: no-repeat;">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Admin Dashboard</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2>Admin Dashboard</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Approved</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in pending_users %}
        <tr>
          <td>{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}</td>
          <td>
            <form action="/approve_user/{{ user[0] }}" method="post" style="display:inline;">
              <button type="submit" class="btn btn-success">Approve</button>
            </form>
            <form action="/reject_user/{{ user[0] }}" method="post" style="display:inline;">
              <button type="submit" class="btn btn-danger">Reject</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
<style>
  table, th, td {
    font-weight: bold;
    color: black;
    border: 2px solid black;
}
</style>